.btn-play {
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 15px;
  color: black;
  font-size: 10px;
  cursor: pointer;
}

.btn-play:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  font-size: 10px;
}

.btn-login {
  color: black;
  padding: 10px 60px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #1ab26b;
  border: 2px solid #1ab26b;
  color: #fff;
}

.btn-select{
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 15px;
  color: black;
  font-size: 10px;
  cursor: pointer;
}

.btn-select:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  font-size: 10px;
}

.btn-logout {
  color: black;
  padding: 5px 30px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  margin-bottom:20px;
  cursor:pointer;
}

.btn-logout:hover {
  background-color: red;
  border: 2px solid red;
  color: #fff;
}