.playlist-card{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    
}

.playlist-card > div > img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    background-color: white;
    margin-bottom: -5px;
}

.playlist-card > .detail > p{
   background-color: white;
   color: black;
   font-weight: bolder;
}