* {
  color: white;
}

.searching {
  justify-content: center;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  width: 30%;
  border-radius: 5px 0px 0px 5px;
  border: 3px solid #1ab26b;
}

.search-button {
  padding: 6px;
  background-color: #1ab26b;
  border: none;
  font-weight: 600;
  border-radius: 0px 5px 5px 0px;
  border: 2px solid #1ab26b;
}
.search-button:hover {
  font-weight: 600;
  background-color: white;
  border: 2px solid white;
  color: #1ab26b;
}

.grid {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  grid-gap: 1rem;
}
